<%-include("header")-%>
<div class="box" id="heading">
  <h1> <%=Title%></h1>
</div>
<div class="box">
    <%for(var i=0;i<item.length;++i){%>
      <div class="item">
        <input type="checkbox" >
        <p><%=item[i]%></p>
      </div>
    <%}%>
    <form class="item" action="/" method="post">
      <input type="text" name="task" placeholder="New Item" autocomplete="off">
      <button type="submit" name="button", value=<%-Title%>>+</button>
    </form>
</div>
<%-include("footer")-%>
